.two-column {
  column-count: 2;
  column-gap: $grid-gutter-width;

  @include media-breakpoint-down(lg) {
    column-count: auto;
  }
}

body {
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

.paper-bg {
  background-image: url(/images/paper.jpg);
}

footer {
  background-image: url('/images/footer-bg.jpg');
  color: $body-font-color;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 10px;
    background: url('/images/redline.png');
    position: absolute;
    top: 0;
    left: 0;
  }
}

.colophon {
  .logo {
    color: $primary;
    text-decoration: none;
    border-right: 1px solid #707070;

    img {
      width: 168px;

      @include media-breakpoint-down(md) {
        width: 140px;
      }
    }
  }

  ul {
    line-height: 2;
    font-weight: bold;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.collaborator {
  &:first-child img {
    width: 56px;
  }

  &:nth-child(2) img {
    width: 128px;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    @extend .mx-2;
  }
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.image-container img {
  width: 100%;
  height: auto;
}

.lang {
  white-space: nowrap;
  position: absolute;
  top: 80px;
  right: 60px;

  li {
    display: inline-block;

    a {
      font-size: 14px;
      &.active {
        @extend .btn-sm, .btn-dark, .text-white;
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    a {
      font-size: 13px;
    }
  }
}

.bg-ochre {
  background: var(--jj-ochre);
}

*::selection {
  background: #5f362b;
  color: white;
}

.text-small {
  font-size: 0.8em;
}

.caption {
  font-size: 14px;
}
