.home {
  background: url(/images/home-bg.jpg) no-repeat;
  background-size: 100% auto;
  position: relative;
  min-height: calc(100vw * 3.6458333333);
  color: #5f362b;

  .container {
    width: 70vw;
  }

  &--header {
    position: relative;
    min-height: 100vh;

    &:before {
      content: '';
      background-image: url(/images/arrow.gif);
      transform: rotate(90deg);
      width: 80px;
      height: 50px;
      position: absolute;
      bottom: 80px;
      left: calc(50vw - 40px);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .cloud {
      position: absolute;

      &--1 {
        top: 15vh;
        left: 0vw;
        animation: ease-out 2s infinite alternate cloud-1;
      }

      &--2 {
        top: 20vh;
        left: 20vw;
        animation: ease-out 20s infinite alternate-reverse cloud-2;
      }

      &--3 {
        top: 15vh;
        left: 35vw;
        animation: ease-out 20s infinite alternate cloud-3;
      }

      &--4 {
        top: 25vh;
        left: 50vw;
        animation: ease-out 20s infinite alternate-reverse cloud-4;
      }

      &--5 {
        top: 10vh;
        left: 60vw;
        animation: ease-out 15s infinite alternate cloud-5;
      }

      &--6 {
        top: 20vh;
        left: 80vw;
        animation: ease-out 15s infinite alternate-reverse cloud-6;
      }
    }
  }
}

@keyframes cloud-1 {
  0% {
    left: 0;
  }

  100% {
    left: 5vw;
  }
}

@keyframes cloud-2 {
  0% {
    left: 20vw;
  }

  100% {
    left: 80vw;
  }
}

@keyframes cloud-3 {
  0% {
    left: 35vw;
  }

  100% {
    left: 50vw;
  }
}

@keyframes cloud-4 {
  0% {
    left: 60vw;
  }

  100% {
    left: 80vw;
  }
}

@keyframes cloud-5 {
  0% {
    left: 50vw;
  }

  100% {
    left: 100vw;
  }
}

@keyframes cloud-6 {
  0% {
    left: 80vw;
  }

  100% {
    left: 100vw;
  }
}

.story-tile {
  color: white;
  text-decoration: none;
  font-size: 24px;

  img {
    transition: all 0.5s ease-out;
  }

  &:hover {
    color: white;
    // text-decoration: underline;
    img {
      transform: scale(1.05);
    }
  }
}

.welcome-text {
  padding: 240px 0;
  position: relative;

  &:before {
    content: '';
    background-image: url(/images/arrow.gif);
    transform: rotate(90deg);
    width: 80px;
    height: 50px;
    position: absolute;
    bottom: 80px;
    left: calc(50vw - 40px);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
