.cloud-animation {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloud {
  --depth: 1;
  --scale: 1;
  --speed: 1;

  --animation-duration: 45s;

  animation-name: move;
  animation-duration: calc(var(--animation-duration) / (var(--speed) * var(--depth)));
  animation-timing-function: linear;
  animation-iteration-count: 1;

  background-image: url(/images/cloud-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  transform: translateY(-50%);

  opacity: var(--depth);

  width: calc(50px * var(--scale) * var(--depth));
  height: calc(50px * var(--scale) * var(--depth));
}

@keyframes move {
  0% {
    margin-left: calc(-50px * var(--scale) * var(--depth));
  }
  100% {
    margin-left: 100%;
  }
}

.home {
  .header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 60vw;
    }
  }

  .curatorial-note,
  .story-spacer,
  .header {
    background: #f4dfb7 url('/images/paper-2.png');
  }

  .curatorial-note {
    padding: 0 16%;
    color: $body-font-color;
  }

  .lang {
    top: 20px;
    right: 20px;

    @include media-breakpoint-down(md) {
      padding: 0;
      top: 10px;
      left: calc(50vw - 57.5px);
    }
  }
}

.jarokha-wrapper {
  background: url(/images/home-bg.jpg) no-repeat;
  background-size: 100% auto;
  min-height: calc(100vw * 2.5260416667);
  position: relative;
}

.jarokhas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 90%;
  position: absolute;
  bottom: 240px;
  width: 100%;
  padding: 0 15%;
}

.jarokha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  img {
    filter: drop-shadow(5px 0px 15px rgba(0, 0, 0, 0.5));
  }
}

.welcome-text {
  width: 100%;
  position: absolute;
}

@include media-breakpoint-down(lg) {
  .jarokhas {
    height: 80%;
    bottom: 180px;
  }

  .jarokha a {
    max-width: 150px;
  }
}

@include media-breakpoint-up(sm) {
  .jarokha-wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: url(/images/redline.png);
  }
}

@include media-breakpoint-down(sm) {
  .welcome-text {
    position: relative;
  }

  .home .curatorial-note {
    padding: 0 40px;
  }

  .home .header {
    min-height: 50vh;
  }

  .jarokha-wrapper {
    background: #f4dfb7 url(/images/paper-2.png);
  }

  .jarokhas {
    position: relative;
    grid-template-columns: auto;
    grid-template-rows: auto;
    bottom: 0;
    height: auto;
    padding: 0 15%;
  }

  .jarokha {
    color: $body-font-color;
    margin: 40px 0;
  }
}
