.landing {
  background-size: 100% auto;
  height: 100vh;
  color: $body-font-color;

  @include media-breakpoint-down(sm) {
    .logo-main {
      img {
        max-width: 50%;
      }
    }
  }

  .info-box {
    order: 1;
  }

  .logo-box {
    order: 2;
  }
}
