.landing {
  background-size: 100% auto;
  height: 100vh;
  color: $body-font-color;

  @include media-breakpoint-down(sm) {
    .logo-main {
      img {
        max-width: 50%;
      }
    }
  }

  // .info-box {
  //   order: 2;
  // }

  // .logo-box {
  //   order: 1;
  // }
}

.index .lang {
  top: 20px;
  right: 20px;

  @include media-breakpoint-down(md) {
    padding: 0;
    top: 10px;
    left: calc(50vw - 57.5px);
  }
}
