$icon-width: 35px;

.threesixty-viewer {
  // min-height: 80vh;
  &:after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: calc(50% - $icon-width/2);
    width: $icon-width;
    height: $icon-width;
    background: url(/images/pano-icon.png) no-repeat center/cover;
    z-index: 99;

    @media screen and (max-width: 767px) {
      bottom: 10px;
      width: 20px;
      height: 20px;
      right: 20px;
      left: auto;
    }
  }
}

.custom-hotspot {
  width: 20px;
  height: 20px;
  background: #fbfb00;
  border-radius: 500px;

  &:hover {
    cursor: pointer;
    background: #fbfb00;
  }

  span {
    visibility: hidden;
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    width: 500px;
    cursor: default;
    border: 3px solid var(--jj-ochre);
    z-index: 1 !important;
    user-select: none;

    .close-btn {
      color: black;
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 18px;
      font-style: normal;
      display: block;
      cursor: pointer;
    }
  }
}

div.custom-tooltip span {
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  text-align: center;
  max-width: 200px;
  padding: 5px 10px;
  margin-left: -220px;
  cursor: default;
  font-family: $font-family-base;
  font-size: 14px;
  width: auto;
}
div.custom-tooltip.active span {
  visibility: visible;
}
div.custom-tooltip.active span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -20px;
  left: -10px;
  margin: 0 50%;
}

.custom-hotspot.active {
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);

  span {
    visibility: visible;
  }

  & ~ span {
    z-index: 2 !important;
  }
}
