---
order: 6
title: Aquaman of Jodhpur
subtitle: Celebrating the work of<br>Caron Rawnsley
about: Caron Rawnsley has traveled the world and has been living in Jodhpur for many years. He is well known among the people of Jodhpur for his remarkable voluntary efforts in cleaning the stepwells. Because of his love and affection for water heritage sites, he is also known as the Aquaman of Jodhpur. This story is a compilation of stories that recognises and celebrates Caron&apos;s work.
---
<div class="container text-center py-5">
  <h3 class="fw-bold mt-5">Get to know Caron Rawnsley</h3>

  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/39JKbAZGQBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p class="my-3">Video Courtesy - The Wire</p>
  <h3 class="fw-bold mt-5">Caron Says...</h3>
  <p class="text-start">The Jal Jharokha Workshop was organized at Mehrangarh Fort in Jodhpur during December 2021 where multiple participants spent two days with Caron Rawnsley. The participants had an opportunity to interact and get to know Caron while they walked with him around the historic city of Jodhpur. This graphic comic was written and outlined by Ashmeen Bains. It attempts to present Caron's personality, his thoughts and feelings of working on the ground cleaning water heritage sites and his vision for taking care of the stepwells of Jodhpur. </p>

  <div class="image-container">
    <picture>
      <source media="(max-width: 799px)" srcset="/images/{{ page.fileSlug }}/artboard-{{ locale }}.jpg">
      <source media="(min-width: 800px)" srcset="/images/{{ page.fileSlug }}/artboard@2x-{{ locale }}.jpg">
      <img src="/images//{{ page.fileSlug }}/artboard-{{ locale }}.jpg"  class="img-fluid" alt="Caron Story Board">
    </picture>

  </div>

  <h3 class="fw-bold mt-5 mb-3">Caron&apos;s thoughts on Jodhpur&apos;s Water Heritage</h3>
  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/78Y2vG_tB5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p class="mt-2">Video Courtesy: Virasat-E-Hind Foundation</p>
</div>
