---
order: 8
title: Bandar bant
subtitle: Art by<br> Vagaram Chowdhary
about: Vagaram Choudhary is a Jodhpur-based visual artist. Vagaramji has a diverse body of artworks ranging from traditional miniature paintings, contemporary visual art and experimental installation art. He has participated in many art residencies and exhibitions on international platforms. Vagaramji joined the Jal Jharokha workshop that took place at Mehrangarh Fort in December 2021. In this week-long workshop, multiple activities and conversations took place. Some of these workshop experiences inspired Vagaram to create this artwork where he reflects on the idea of how people in the city interact with water. 
---

<div class="story container text-center py-5">
  <p class="fst-italic">Artist Statement</p>
  <h2 class="fw-bold">Vagaram Choudhary</h2>
  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/UJ5Qhmj5-OY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <h3 class="fw-bold mt-5">Bander Bant</h3>
  <p>38 cm x 76 cm | Medium : Nature pigment on paper</p>
  <div class="image-container">
    <img src="/images//{{ page.fileSlug }}/water_006_optmised.jpg" class="img-fluid" alt="">
  </div>

  <p class="my-5">To acquire this painting please contact the artist directly :<br>vagaramchoudhary@gmail.com | instagram.com/mr_vaga_vaga</p>
</div>
