---
title: Bandar bant
subtitle: Artistic Work by<br> Vagaram Chowdhary
artist: Vagaram Chowdhary
about: Vagaram Choudhary is a visual artist who is based in Jodhpur. Vagaram is a dynamic artist whose work ranges from traditional miniature painting, contemporary visual art and experimental installation art. He has also traveled to many countries and has showcased work on international platforms. Vagaram had joined the Jal Jharokha workshop that took place at Mehrangarh Fort in December 2021. In this week-long workshop multiple activities took place which included water heritage walks and many conversations about water  conservation. Vagaramji reflected on many discussions that took place during the workshop and created this painting expressing his thoughts through a painting.
---

<div class="story container text-center py-5">
  <p class="fst-italic">Artist Statement</p>
  <h2 class="fw-bold">{{ artist }}</h2>
  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/UJ5Qhmj5-OY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <h3 class="fw-bold mt-5">Bander Baant</h3>
  <p>38 cm x 76 cm | Medium : Nature pigment on paper</p>
  <div class="image-container">
    <img src="/images//{{ page.fileSlug }}/water_006_optmised.jpg" class="img-fluid" alt="">
  </div>

  <p class="my-5">To acquire this painting please contact the artists directly :<br>vagaramchoudhary@gmail.com | instagram.com/mr_vaga_vaga</p>
</div>
