---
order: 6
title: The Aqua Man
subtitle: Celebrating Works of<br>Caron Rawnsley
artist: Caron Rawnsley
about: Caron Rawnsley has traveled the world and has been living in Jodhpur for many years. He is known in the old city of Jodhpur for his remarkable voluntary efforts of cleaning the stepwells. He is sometimes also known as Aquaman for his love displayed on water heritage sites. This story is a compilation of stories that together recognises and celebrates Caron’s works and brings forward his message which calls for people’s initiatives in taking care of their water heritage sites.
---
<div class="container text-center py-5">
  <h3 class="fw-bold mt-5">Get to know Caron Rawnsley</h3>

  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/39JKbAZGQBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p class="my-3">Video Courtesy of The Wire</p>
  <h3 class="fw-bold mt-5">What "Caron Says.."?</h3>
  <p class="text-start">During the Jal Jharokha Workshop in December 2021 multiple participants spent a couple of days with Caron and interviewed Caron Rawnsley. This comic was then created by a participant Ashmin Bains in an attempt to not just share what Caron thinks  but in a way that also reflects his personality and unique style of talking. “Caren Says” is a comic that presents Caron’s thoughts, feelings of working on ground cleaning water heritage sites and his vision for taking care of Stepwells (Water heritage sites).</p>

  <div class="image-container">
    <picture>
      <source media="(max-width: 799px)" srcset="/images//{{ page.fileSlug }}/artboard.jpg">
      <source media="(min-width: 800px)" srcset="/images//{{ page.fileSlug }}/artboard@2x.jpg">
      <img src="/images//{{ page.fileSlug }}/artboard.jpg"  class="img-fluid" alt="Caron Story Board">
    </picture>

  </div>

  <h3 class="fw-bold mt-5 mb-3">Caron's Message<br>About Jodhpur's Water Heritage</h3>
  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/78Y2vG_tB5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p class="mt-2">Video Courtesy of Virasat-E-Hind Foundation</p>
</div>
