---
order: 1
title: Fort's water wisdom
subtitle: Water System of<br>Mehrangardh Fort
about: '<p>This Story presents the bringing in rainwater through different catchments to lakes beside Fort and construction of indigenous ideas to make the whole fort complex self-sufficient of water in different scenarios. Mehrangarh Fort is evidently the first residence of Jodhpur and to date, it relies 95% on its rainwater collection and water conservation system. The fort sets an example of following a process that is over five hundred years old and is self-sufficient in itself.</p>'
sections:
  - title: Dhobi Kund
    subtitle: The Catchment Area
    about: '<p>These gorges around Mehrangarh serve as the catchment area for its brilliant Water Management system. Dhobi Kund catchment area is nestled in the midst of the various hills northeast of the city and augments the catchment of Ranisar in the southern direction as well as Sursagar in the western direction. The catchment spreads over rocky outcrops of red sandstone. During monsoons, streams of water flow like veins across this terrain towards a walled enclosure.</p>'
    360_type: multires
    id: dhobikund
  - title: Hathi Nahar
    subtitle: A rock-cut canal controlling water flow
    about: '<p>The Hathi Nahar or elephant canal is a long drain that acts as a channel connecting the catchment area to Ranisar Lake, a key body of Jodhpur&apos;s water management system. This canal widens into a high wall of rocky outcrops. Here, the running water learns to walk. The speed of water is calibrated to allow ease of entry into Ranisar Lake.</p>'
    id: hathinahar    
  - title: Entry to Ranisar Lake
    subtitle: Harvesting the running water
    about: '<p>Water from Hathi Nahar enters Ranisar via an opening in a huge wall. Right before this opening is a dip in the rocky terrain which acts as a sedimentation spot for water passing by thus acting as a natural filtration system. Ranisar as situated in the natural catchment area was an accessible zone for any army if they attacked Mehrangarh, so Rao Maldeo Ji got this wall constructed to barricade Ranisar. We can see three different kinds of masonry which show its construction in different eras.</p><p>Ranisar has 5 small wells underneath its base level called kuiyaan. These catered water for scenarios when due to access heat RaniSar water would not be of sufficient use. </p>'
    id: ranisar
  - title: Arahat (Persian Wheels)
    subtitle: Lifting and transporting water
    about: '<p>The Arahat (Persian wheel) is a mechanical water-lifting device operated usually by draught animals like bullocks, buffaloes, or camels. It is used to lift water from water sources typically open wells. In Sanskrit, the word Araghatta has been used in ancient texts to describe the Persian Wheel. The &apos;ara-ghatta&apos; comes from the combination of the words &apos;ara&apos; meaning spoke and &apos;ghatta&apos; meaning pot.</p><p>Few, typical forts in ancient India were perched on a hillock or a rocky citadel. Water harvesting was common but also the Persian wheel was installed to lift water from lakes below up through several steps to the top of the fort itself. Mehrangarh fort is an example where the Persian wheel was used to obtain water from wells.</p>'
    id: waterwheel
  - title: Aqueducts & Tanks
    subtitle: Transporting & storing water
    about: '<p>In 1903 Maharaja Takhat Singh Ji got a Burj constructed at Rani Sar, on which the first  Persian wheel was installed. The same Persian wheel was used to bring water from Ranisar to different levels in Fort. This system followed vertical movement via Persian wheels with a garland of buckets around them and horizontally via aqueducts that were made on slopes to take water to different tanks which thus had a Persian wheel on their top.  At this point, water was stored and supplied with the help of Kalash. Ghada, Matka to all the spaces..</p>'
    id: aqueducts
    360_type: multires
  - title: Drinking water in the fort
    subtitle: Storing and consuming water
    about: '<p>Before the 19th century, water was manually fetched and carried from Ranisar until the Persian Wheel system&quot;s arrival, followed by water pipelines. Meheriyan was the group of women members in the fort who were specifically assigned to transport water around the fort using matkas/ghadas. Drinking water vessels are always kept near the entrance of Rajasthan households to offer water to visitors and guests, which is considered a gesture of warmth and action of welcoming people. Following the same gesture Fort also had huge vessels kept near different Pols containing drinking water from which water was offered to anyone visiting Fort.</p>'
    id: drinking-water
    360_type: multires
  - title: Connected Lakes
    subtitle: Accessibility of Water
    about: '<p>Right after one year of the laying of the foundation of Jodhpur Fort, Rao Jodha&apos;s senior-most queen Maharani Jasmade Haadi Ji started the construction of the historic Ranisar. Padamsar was brought up a little later in the adjacent valley of Ranisar by Rani Uttamde Sisodini Ji. During Rao Maldeo&apos;s time, an outlet was provided in the enclosure fortification wall of Ranisar towards Padamsar at a slightly lower level than the top level of Ranisar so that the overflow of Ranisar reached Padamsar. </p>'
    id: lakes
    360_type: multires
---
<div class="container mt-5">
  <h3>Background</h3>
  <div class="two-column">
    <p>Rao Jodha&apos;s foremost idea to choose Pachetia Hill for the construction of Mehrangarh Fort was efficient security because of the height of the Hilltop and the then-existing waterfall from the rocky terrain of the hill. Although, due to taking up space on this hill of Saint Chidiya Nath Ji which was his meditation top, Rao Jodha Ji, was cursed to withstand drought and famine conditions in his state. Thus, decisions and steps were taken to cater to and conserve rainwater in and around Mehrangarh Fort in all possible ways. </p>
    <p>The hill, its rocky terrain and the natural gradients allows the water to naturally flow from one catchment to another thus allowing water to get to different water bodies and locations. Water was then pulled out from these catchments and was transported to different palaces by either means of mechanical engineering that included aquaducts and persian wheels and means of manual lifting.</p>
  </div>
</div>

<div class="container mt-5 px-0 pb-5 bg-ochre">
  <div class="row g-0">
    <div class="col-md-4 p-4">
      <h3>Where it all began</h3>
      <p>The major water body/site in the interior of Mehrangarh Fort is Chidiya Nath Ji ka Tanka/Haus. This is found near the Ashram of Chidiya Nath Ji, which was historically the meditation space of Saint Chidiya Nath Ji. The main source of water for this Haus was the rainwater which came down as a waterfall from the rocky facade of Mehrangarh Fort and then via the small channel that still runs parallel to the rocky facade. (this site is about origin of fort)</p>
      <p>There are also kunds located at the entrance of Mehrangarh Fort and Jaswant Thada known as Rasolai Kund and Dev Kund respectively which capture rainwater from the hilly regions of the premises and use to act as a source of water for people residing adjacent to them. </p>
    </div>
    <div class="col-md-8 p-0">
      <div id="chidiyanathji" class="threesixty-viewer" data-story="fort-water-system" data-type="multires"></div>
    </div>
  </div>
</div>

{% for section in sections %}
  <article class="mt-5">
    <div class="container bg-ochre py-3">
      <div class="row">
        <div class="col-md-4">
          <img src="/images/fort-water-system/{{ loop.index }}.gif" class="img-fluid">
        </div>
        <div class="col-md-8">
          <h3>{{ loop.index }}. {{ section.title }}</h3>
          <p>{{ section.subtitle }}</p>
          {{ section.about|safe }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="threesixty-viewer" id="{{ section.id }}" data-story="fort-water-system" data-type="{{ section.360_type if section.360_type else 'equirectangular' }}"></div>
        </div>
      </div>
    </div>
  </article>
{% endfor %}

<div class="container mt-5">
  <div class="row">
    <div class="col bg-ochre p-5">
      <h3>Modern Period</h3>
      <p>The traditional water management system continued until the introduction of a public water system in 1897 by the British. This was the beginning of centralizing water supply and context insensitivity to growth, particularly after Jodhpur was merged with the Indian republic. </p>
    </div>
  </div>
</div>
