---
order: 7
title: Tethys
subtitle: Artistic creations by<br>Tarini Kumari
about: <p>Tarini is a visual artist from Jodhpur and she is the founder of the Cobalt Company, a unique art studio which explores cyanotype print, analogue photography on multiple mediums and wearable art. Tarini joined the Jal Jharokha workshop that took place at Mehrangarh Fort in December 2021. In this week-long workshop, multiple activities took place which also included water heritage walks. Tarini was especially inspired by one of the heritage walks at Rao Jodha park which was about the prehistoric landscape change. Developing her inspiration further, Tarini created a series of artworks which are featured here.</p>
captions: [,,,,,Advent, Jurasic, Extinction, Jellyfish, Interlude, Coleocanth, Insurrection]

---
<div class="container text-center py-5">
  <p class="fst-italic">Artist Statement</p>
  <h2 class="fw-bold">Tarini Kumari</h2>

  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/vkOK97xMXcU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <h2 class="mt-5">{{ title }}</h2>
  <div class="two-column text-start">
    <p>This imaginative series depicts the changing landscape of Jodhpur over the span of a few hundred million years under the Tethys ocean. The land that is now Jodhpur was once under seawater during the Mesozoic and Cenozoic eras. Over millions of years, the landscape has been through many extinction events and subsequent revivals of life. </p>
    <p>This imaginative series includes six pieces of work. Each of them is a visual representation of a point in time where life under the Tethys ocean flourishes or, as in an extinction event, is under extreme duress.</p>
    <p>But even during these extinction events, Phytoplankton survives, as seeds of life. Slowly evolving into more complex beings so life can once again thrive.</p>
    <p>The timeline of the Tethys ocean is so vast, spanning over many millennia, that the artist decided to choose three extinction events and three explosions of life events.</p>
    <p>Each extinction event is a cyanotype photograph of present-day Mehrangarh with salt stains representing the phytoplankton present in that era. Each revival event is a cyanotype photograph of Mehrangarh painted with sea creatures of that era. </p>
    <p>This series is a artistic representation of the many changes the land where Mehrangarh stands today has been through. It is an amalgamation of life and time under the Tethys.</p>
  </div>

  <div class="tethys-grid">
    {% for i in range(1, 12) %}
      <div class="grid-item"><img src="/images/tethys/{{ i }}.jpg" alt="" class="img-fluid">
        <h5 class="mt-3 fw-bold">{{ captions[i] }}</h5>
      </div>
    {% endfor %}
  </div>

  <div class="mt-5">
    To buy print or original copies of the above artworks. Please contact artist at the following :<br>
    <a class="text-dark" href="mailto:thecobaltcojodhpur@gmail.com">thecobaltcojodhpur@gmail.com</a> | <a class="text-dark" href="https://thecobaltcompany.in" target="_blank">thecobaltcompany.in</a> | <a class="text-dark" href="https://instagram.com/thecobaltcompany" target="_blank">instagram.com/thecobaltcompany</a>
  </div>
</div>
