---
title: Typology of water bodies in Jodhpur
---

Often rectangular in design, jhalras have steps on three or four sides, stepping down to access variable groundwater

Subterranean seepage regenerates water in the jhalra, often promoted by percolation from a talab or lake located upstream.

The water from these jhalras was not used for drinking but only for community bathing and religious rites.

The oldest known jhalra is mahamandir jhalra dates back to 1660 CE
