---
  layout: base
---
{% include "story-header.njk" %}

<main>
  <div class="main-bg"></div>

  <div class="container">
    <h1 class="fw-bold">{{title}}
      {% if artist %}by {{artist}}
      {% endif %}
    </h1>
    {{ about }}
  </div>

  {{ content|safe}}
</main>

{% include "footer.njk" %}
