---
title: जल झरोखा के बारे में
about: <p>जल झरोखा, मेहरानगढ़ और जोधपुर के पुराने शहर की जल-विरासत की कहानियों के चित्रण हेतु मेहरानगढ़ संग्रहालय ट्रस्ट और लिविंग वाटर्स म्यूजियम की एक सहयोगी परियोजना है। जल ज्ञान की खोज- जल झरोखा परियोजना ने समुदायों और मुख्य रूप से युवाओं को जोधपुर के रेगिस्तानी परिदृश्य पर जल की अनुपस्थिति और उपलब्धता के सम्बन्ध का पता लगाने के लिए जोड़ा। इस आभासी प्रदर्शनी का विचार अगस्त २०२१ में लंबे COVID-19 लॉकडाउन के दौरान उभरा, जिसके बाद इस विचार ने फील्ड वर्क, कई सहयोगी कार्यक्रमों, दिसंबर २०२१ की ऑनसाइट फील्ड वर्कशॉप और अंत में एक वर्चुअल प्रदर्शनी का रूप लिया, जिसे अब फरवरी २०२३ में प्रस्तुत किया गया है। । आभासी प्रदर्शनियों में आठ कहानियों का भौगोलिक केंद्र मेहरानगढ़ किले और ऐतिहासिक शहर के आस-पास के क्षेत्र तक सीमित है। हालाँकि परियोजना के अंत में क्यूरेटोरियल टीम का मानना था कि मौजूदा दायरे के भीतर और बाहर बहुत कुछ खोजा जा सकता है और इसलिए माना जा सकता है कि यह प्रदर्शनी जोधपुर और राजस्थान से जल विरासत की कहानियों के आभासी पुनर्चित्रण की एक शुरुआत मात्र है।</p>
teams:
  - title: मेहरानगढ़ संग्रहालय ट्रस्ट
    about: '<p>मेहरानगढ़ संग्रहालय ट्रस्ट भारत की अग्रणी सांस्कृतिक संस्था है और उत्कृष्टता का केंद्र है, जिसे 1972 में मारवाड़-जोधपुर के 36वें संरक्षक, श्री महाराजा गज सिंह द्वितीय द्वारा आगंतुकों के लिए किले को जीवंत बनाने हेतु स्थापित किया गया था। राठौर वंश द्वारा शासित मध्य राजस्थान के बड़े क्षेत्र मारवाड़-जोधपुर के कलात्मक और सांस्कृतिक इतिहास के भंडार के रूप में मेहरानगढ़ संग्रहालय का आज एक अनूठा महत्व है। संग्रहालय के अलावा, ट्रस्ट ललित कला के संरक्षण और पुनर्रक्षण में आगे है, कला एवं संगीत का एक उदार संरक्षक है और अकादमिक अध्ययन का एक जीवंत केंद्र है।</p>'
    people:
      - name: कृष्ना शेखावत
        img: MMT_3_Krishna-Shekhawat.jpg
        designation: जल झरोखा टीम
      - name: भवानी बेगड़
        img: MMT_4_Bhawani-Begad.jpg
        designation: जल झरोखा टीम
      - name: निहारिका पारीक
        img: MMT_5_Niharika-Pareek.jpg
        designation: जल झरोखा टीम
      - name: स्वर्गीय करणी जसोल
        designation: सलाहकार
        img: 
      - name: डॉ. सुनयना राठौर
        designation: सलाहकार        
        img: MMT_1_Dr-Sunaynan-Rathore.jpg
      - name: डॉ महेंद्र सिंह तंवर
        designation: सलाहकार
        img: MMT_2_Dr-Mahendrasinh-Tanwar.jpg
  - title: लिविंग वाटर्स म्यूजियम
    about: '<p>२०१७ में स्थापित, लिविंग वाटर्स म्यूजियम एक वर्चुअल संग्रहालय है जो युवाओं को सतत, समावेशी और न्यायसंगत जल भविष्य की फिर से कल्पना करने हेतु जोड़ता है। कहानियों और प्रौद्योगिकी के माध्यम से हम हमारे साझे जल के स्थानीय एवं पारम्परिक ज्ञान का जश्न मनाते हैं, युवाओं को नए दृष्टिकोण से पानी को देखने के लिए प्रेरित करते हैं और भविष्य के लिए जानकारी के स्रोत के रूप में एक डिजिटल भंडार का निर्माण करते हैं। हम भारतीय विज्ञान शिक्षा और अनुसंधान संस्थान IISER- पुणे में जल अनुसंधान केंद्र की एक शाखा के रूप में कार्यरत हैं और २०१८ में यूनेस्को(UNESCO) के ‘अंतर्राष्ट्रीय जल विज्ञान कार्यक्रम’ द्वारा समर्थित ‘जल संग्रहालय के वैश्विक नेटवर्क’ के संस्थापक सदस्य हैं।</p>'
    people:
      - name: भार्गव पाढ़ियार
        img: LWM_2_Bhargav-Padhiyar.jpg
        designation: जल झरोखा टीम
      - name: डॉ. छवि माथुर
        img: LWM_3_Dr-Chhavi-Mathur.jpg
        designation: जल झरोखा टीम
      - name: डॉ. सारा अहमद
        img: LWM_1_Dr-Sara-Ahmed.jpg
        designation: सलाहकार
advisors:
  - name: आर्किटेक्ट अनु मृदुल
    designation: आर्किटेक्ट
    img: A-Mridul.jpg
    about: <p>"जोधपुर का ऐतिहासिक शहर थार रेगिस्तान के पूर्वी किनारे पर स्थित है, जहाँ कोई बारहमासी नदी नहीं है और वर्षा बेहद कम होती है। जोधपुर अपने स्थानीय जलग्रहण क्षेत्रों से कई झीलों, तालाबों, कुओं, बावड़ी, झालरा और टाँका में एकत्र किए गए मानसून के पानी पर फला-फूला। संग्रह और भंडारण की एक अत्यधिक कुशल स्थानीय प्रणाली यहाँ देखि गई। समय के साथ, दूर स्थानों से पाईप द्वारा जलापूर्ति के आगमन के साथ, पानी की समृद्ध विरासत को छोड़ दिया गया और जल सम्बन्धी शिल्प खंडहर में बदलता गया। गहराते जल-संकट की बढ़ती चुनौती के बीच, स्थानीय जल प्रणालियों को पुनर्जीवित करना और पुनरावृत्त करना अनिवार्य हो गया है। यह म्यूजियम देश की जल विरासत को फिर से देखने के लिए उपयुक्त हैं और समुदायों को पर्याप्त ताजे पानी की प्राप्ति हेतु अपनी प्राचीन जल प्रणालियों की बहाली के लिए प्रेरित करते हैं।"</p>
  - name: डॉ. मेघल आर्य
    designation: फैकल्टी ऑफ़ आर्किटेक्चर, CEPT यूनिवर्सिटी | आर्या आर्किटेक्ट | AADI सेण्टर
    img: Meghal-Arya.jpg
    about: <p>"पानी की स्थानिकता सामाजिक स्मृति से मिट रही है जिससे समाज, पर्यावरण और मानव के मूलभूत संबंध बदल रहे है, क्युकी ऐतिहासिक जल प्रबंधन प्रणालियाँ मिट रही हैं और आधुनिक जल प्रबंधन प्रणालियाँ आ चुकी है जो ज़मीन के नीचे नज़र से छिपी हुई है और सामाजिक संपर्क से परे है | जोधपुर की जल संरचनाओं पर मेरे शोध ने जल संरचनाओं को शहरी परिदृश्य में विचारशील और रणनीतिक हस्तक्षेप के रूप में दिखाया है।  जल संरचनाओं ने सुंदर सार्वजनिक स्थान भी प्रदान किए हैं। Spatial Ecology of Water पुस्तक डिजाइन और इंफ्रास्ट्रक्चर के बीच के संबंध को प्रदर्शित करती है जो सामाजिक-सांस्कृतिक आवश्यकताओं के साथ संरचनात्मक स्थिरता को एकीकृत करती है।  अन्य जल संरचनाओं के साथ रणनीतिक संबंध और क्षेत्र के जलविज्ञान, मूल्यवान ज्ञान और इंफ्रास्ट्रक्चर को  हमारे वर्तमान शहरी जीवन में एकीकृत और संरक्षित करने की आवश्यकता है।"</p>

collaborators:
  - name: आशना शाह
    designation: प्रशिक्षु
    img: Ashna-Shah.jpg
  - name: भाविक मेहता
    designation: अनंत राष्ट्रीय विश्वविद्यालय
    img: Bhavik-Mehta.jpg
  - name: कैरन रॉन्स्ले
    designation: जल विरासत कार्यकर्त्ता
    img:
  - name: निशिता केडिया
    designation: अनंत राष्ट्रीय विश्वविद्यालय
    img: Nishita-Kedia.jpg
  - name: पीयूष पंड्या
    designation: हिंदी भावानुवाद
    img: Piyush-Pandya.jpg
  - name: राजा बिस्वास
    designation: कॉमिक इलस्ट्रेशन
    img: Raja-Biswas.jpg
  - name: सोम्या पारिख
    designation: फोटोग्राफी
    img: Somya-Parikh.jpg
  - name: तारिणी कुमारी
    img: Tarini-Kumari.jpg
    designation: दृश्य कलाकार
  - name: वगाराम चौधरी
    designation: दृश्य कलाकार
    img: Vagaram-Choudhary.jpg


---
{% include "story-header.njk" %}

<main>
  <div class="main-bg"></div>
  <div class="container">
    <h2>{{ title }}</h2>
    {{ about|safe }}

    {% for team in teams %}
      <h3 class="mt-5">{{ team.title }} के बारे में</h3>
      {{ team.about|safe }}
      <h5 class="my-3">{{ team.title }} टीम</h5>
      <div class="row row-cols-2 row-cols-md-6 gx-5">
        {% for person in team.people %}
          <div class="col fs-6 mb-4 mb-md-0">
            <img src="{{ ['/images/about/', person.img ] | join if person.img else 'https://via.placeholder.com/270x322/d1b679?text=' }}" alt="" class="img-fluid w-100 mb-3">
            <b>{{ person.name }}</b>
            {% if person.designation %}
              <div class="fst-italic">{{ person.designation }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <h3 class="mt-5">परियोजना सलाहकार</h3>
    {% for advisor in advisors %}
      <div class="row mb-4">
        <div class="col-3 col-md-2"><img src="/images/about/{{ advisor.img }}" alt="{{ advisor.name }}" class="img-fluid"></div>
        <div class="col-8 col-md-9">
          {{ advisor.about|safe}}
          <b>{{ advisor.name }}</b><br>
          <i>{{ advisor.designation }}</i>
        </div>
      </div>
    {% endfor %}

    <h3 class="mt-5">जल झरोखा कार्यशाला के प्रतिभागी</h3>
    <p>अंशुल सिंह, अपर्णा वैदिक, अश्मीन बैंस, दिग्विजय सिंह राठौर, दिविशा श्रीवास्तव, कविता सचवानी, मधु यामिनी, माया डोड, मोहम्मद असलम नासिर सैय्यद, पायल गुप्ता, प्राची सेकसरिया, रोशनी पाटिल, साक्षी बोलिया, शेफाली कटारिया, श्रेया राजमाने, तिशा जैन (वर्कशॉप इंटर्न), त्वरिता सिंह (वर्कशॉप इंटर्न), विजयादित्य सिंह राठौर, यश पंवार</p>

    <p>वर्कशॉप की गतिविधियों के बारे में पूरी जानकारी के लिए वर्कशॉप डॉक्यूमेंटेशन रिपोर्ट यहां देखें।</p>

    <h3 class="mt-5 mb-3">सहयोगियों</h3>
    <div class="row row-cols-2 row-cols-md-5 gx-5 gy-3 pb-5">
      {% for person in collaborators %}
        <div class="col fs-6">
          <img src="{{ ['/images/about/', person.img ] | join if person.img else 'https://via.placeholder.com/270x322/d1b679?text=' }}" alt="" class="img-fluid w-100 mb-3">
          <b>{{ person.name }}</b>
          {% if person.designation %}
            <div class="fst-italic">{{ person.designation }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</main>
