---
title: Home
---

<div class="home-wrapper">
  <div class="home-wrapper--header d-flex align-items-center justify-content-center">
    <img src="/images/logo-large.png" alt="Jal Jarokha">
  </div>

  {% include "story-spacer.njk" %}
  <div class="curatorial-note">
    <h3 class="text-center mb-4">संग्रह-प्रबंधक की और से -</h3>
    <div class="two-column">
      <p>जोधपुर शहर जो एक चट्टानी बहिर्वाह के आधार पर स्थित था, कभी समुद्र के नीचे हुआ करता था। मारवाड़ के लाल बलुआ पत्थर पर देखि जा सकने वाली लहरों की छाप, समय की इस यात्रा का परिमाण है। लगभग 63-54 करोड़ वर्ष पहले, यह बलुआ पत्थर उथले समुद्र के नीचे पड़ा था। केवल तीसरी सहस्राब्दी ईसा पूर्व के आसपास इस भूमि ने अपना वर्तमान उप रेगिस्तानी परिदृश्य प्राप्त किया।</p>

      <p>पौराणिक मान्यताएं इस बदलाव का रोचक कारण प्रदान करती हैं। लोकप्रिय मान्यता के अनुसार, भगवान राम लंका के लिए रास्ता बनाने के लिए समुद्र पर तीर चलाने की तैयारी करते हैं और उसी क्षण समुद्र के देवता प्रकट होते हैं और श्री राम से अन्यत्र तीर छोड़ने की विनती करते हैं। सांस्कृतिक रूप से यह मान्य है कि राम के उस तीर के तेजोमय प्रभाव ने समुद्र-तल को वर्तमान थार रेगिस्तान में बदल दिया ।</p>

      <p>प्रकृति चिरंजीवी है । समय के साथ  रेत चट्टानों में बदल जाती है। समुद्र रेगिस्तान में बदल जाता है। झीलें सूख जाती हैं और कभी कहीं-कहीं  वे बाढ़ भी ला सकती हैं।</p>

      <p>पंद्रहवीं शताब्दी तक इस क्षेत्र को मारवाड़ राज्य के नाम से जाना जाने लगा। मारवाड़ का अर्थ होता है मृत्यु का क्षेत्र |  जोधपुर को इस भूमि यानी  थार रेगिस्तान के प्रवेश द्वार के रूप में भी जाना जाता है। मेहरानगढ़ किला मारवाड़ साम्राज्य का ह्रदय स्थान है। यहाँ का परिदृश्य क्षमाशील नहीं है। वर्तमान समय के राव जोधा रॉक पार्क में फैले लाल बलुआ पत्थर की पथरीली चट्टानें ही क्षेत्र का प्रमुख रंग है जो प्रकृति यहाँ दे सकती है । इसके साथ हम गर्मी के मौसम की ज्वलंत हवाओं के दौरान इस क्षेत्र की प्रतिकूल परिस्थतियों का पूर्वाभास कर सकते हैं ।</p>

      <p>जल का अभाव और इसका आधिक्य दोनों ही जोधपुर में साथ खेलते हैं । पानी की अनुपस्थिति के साथ यहाँ हम जल सम्बन्धी सांस्कृतिक प्रचुरता पाते हैं। जोधपुर और राजस्थान के लोगों ने पुरातन काल से ही  प्रकृति प्रबंधन और जल प्रबंधन का कार्य किया है। यह वर्चुअल प्रदर्शनी जोधपुर के रचनात्मक और दृढ़ लोगों को मान्यता देती है जिन्होंने वास्तुकला, शिल्प, संगीत, रस्मो-रिवाजों और त्योहारों के माध्यम से पानी के आसपास एक संस्कृति का निर्माण किया।</p>

      <p>भौगोलिक परिस्थितियों के अनुरूप अनुकूलन पुराने दिनों में जीवन और मृत्यु का मामला था; अब जबकि पृथ्वी पर मानवजनित बदलाव प्रत्यक्ष हैं और हम जलवायु परिवर्तन को महसूस कर पा रहे हैं, हम पुराने दिनों की प्रतिकूल परिस्थितियों में ही पहुँच गएँ हैं ।</p>
    </div>
    <div class="text-center fw-bold mt-5">
      <p>कहानियों की बावड़ी में आपका स्वागत है।</p>
      <p>यहाँ, झरोखा एक द्वार है।</p>
      <p>स्क्रॉल करें, क्लिक करें, अंदर आएं और देखे ।</p>
    </div>
  </div>
  {% include "story-spacer.njk" %}

  <div class="jarokhas">
    {% for story in collections.stories_hi | sortByOrder %}
      <div class="jarokha">
        <a href="{{ story.data.page.url }}" class="d-block story-tile">
          <img src="/images/{{ story.data.page.fileSlug }}/jarokha.png" alt="{{ story.data.title }}" class="img-fluid">
        </a>
        <h3 class="text-center mt-3">{{ story.data.title }}</h3>
        <h6>{{ story.data.subtitle|safe }}</h6>
      </div>
    {% endfor %}
  </div>
</div>
{% include "locale-selector.njk" %}
