---
title: जल-झरोखा
---

<div class="container-fluid landing paper-bg">
  <div class="row align-items-center h-100">
    <div class="col-md-6 text-center logo-main">
      <img src="/images/logo-large.png" alt="जल-झरोखा">
    </div>
    <div class="col-md-6 text-center text-md-start d-flex flex-column align-items-center align-items-md-start">
      <div class="d-flex align-items-center order-last order-md-1 mt-3 mt-md-0 mb-md-3">
        <a href="#" class="me-5"><img src="/images/mmt.png" alt="Mehrangardh Musuem Trust" width="100"></a>
        <a href="#"><img src="/images/lwm.png" alt="Living Waters Museum" width="200"></a>
      </div>

      <div class="my-3 px-3 px-md-0 pe-md-5 order-md-2">
        <p>जल-झरोखा, मेहरानगढ़ म्यूजियम ट्रस्ट और लिविंग वाटर्स म्यूजियम की एक सहयोगी परियोजना है जिसका उद्देश्य मेहरानगढ़ किले और जोधपुर के ऐतेहासिक शहर की जल सम्बन्धी विरासत एवं परंपरा को परिकल्पित और सम्प्रेषित करना है| </p>

        <p>जल-झरोखा शब्द हिंदी के दो शब्दों से मिलकर बना है, इसका अर्थ है &apos;जल की और खुलने वाली खिड़कियाँ&apos;| ऐतिहासिक एवं समकालीन जोधपुर में रेगिस्तानी परिदृश्य के जलाभाव और आधिक्य के आपसी खेल को देखने के लिए हेतु हम आपका यहाँ स्वागत करते हैं |</p>
      </div>

      <a href="/{{ locale }}/home" class="btn-dark btn order-md-last">Click to enter the Stepwell of Stories</a>

      <div class="px-3 px-md-0 pe-md-5 order-last mt-4 text-small fw-normal">
        <p>उत्तम अनुभव के लिए, दर्शकों को सलाह दी जाती है कि वे इस वेबसाइट को हाई-स्पीड डेटा कनेक्शन पर बड़ी स्क्रीन डेस्कटॉप/लैपटॉप/टैबलेट पर देखें।</p>
      </div>
    </div>
  </div>
</div>

{% include "locale-selector.njk" %}
