---
title: Terms and Conditions
---
{% include "story-header.njk" %}

<main>
  <div class="main-bg"></div>

  <div class="container">
    <h5>कॉपीराइट</h5>

    <p>जल झरोखा गैर-वाणिज्यिक उद्देश्यों के लिए अन्य सहयोगियों के साथ मेहरानगढ़ संग्रहालय ट्रस्ट और लिविंग वाटर्स म्यूजियम द्वारा विकसित एक ऑनलाइन प्रदर्शनी है। </p>

    <p>सभी वीडियो, चित्र, चित्रण, चिह्न, तस्वीरें और लिखित सामग्री का स्वामित्व मेहरानगढ़ संग्रहालय ट्रस्ट, लिविंग वाटर्स म्यूजियम और उस व्यक्ति/संगठन का हैं जिसने उन्हें बनाया है।</p>

    <p>वेबसाइट पर प्रस्तुत सभी अभिलेखीय चित्र और मिनिएचर पेंटिंग्स पर मेहरानगढ़ संग्रहालय ट्रस्ट का कॉपीराइट है।  </p>

    <p>प्रदर्शित कलाकृतियां खरीदने के लिए कृपया कलाकृतियों के साथ दी गई जानकारी के अनुसार सीधे कलाकारों से संपर्क करें। इस संबंध लिविंग वाटर्स म्यूजियम की कोई  जिम्मेदारी नहीं है। </p>

    <h5>गोपनीयता नीति (प्राइवेसी पॉलिसी )</h5>

    <p>जल झरोखा प्रदर्शनी वेबसाइट स्वचालित रूप से आपसे कोई व्यक्तिगत जानकारी एकत्र नहीं करती है। कुकीज़ का उपयोग केवल साइट पर आने वाले आगंतुकों को ट्रैक करने और बार-बार आने वाले आगंतुकों के अनुपात को निर्धारित करने के लिए किया जाता है। ये हमें व्यक्तियों की पहचान करने या आपकी किसी भी व्यक्तिगत जानकारी का खुलासा करने की अनुमति नहीं देती हैं।</p>

    <h5>डाटा</h5>

    <p>जल झरोखा एक डेटा-हैवी वेबसाइट है और इसे डेस्कटॉप/लैपटॉप/टैबलेट डिवाइस पर हाई-स्पीड अनलिमिटेड वाईफाई कनेक्शन पर देखने की सलाह दी जाती है।</p>

    <p>उपयोगकर्ता के इंटरनेट बैंडविड्थ और डेटा ट्रांसफर को बचाने के लिए, जल झरोखा सर्वर क्लाइंट द्वारा उपयोग किए जाने वाले ब्राउज़र के साथ टेक्स्ट, इमेज, वीडियो, 3डी मॉडल, 3डी इमेज और स्क्रिप्ट जैसी फाइलों को कैश करेगा।</p>

    <p>जल झरोखा साइट द्वारा प्रस्तुत डेटा ऑफ़लाइन उपयोग के लिए या नेटवर्क अनुपलब्धता की स्थिति में उपयोगकर्ता के उपकरणों (जैसे, लैपटॉप, स्मार्टफोन या टैबलेट) की कैश मेमोरी में सहेजा जा सकता है।</p>

    <h5>अन्य वेबसाइटों से लिंक</h5>

    <p>हम तृतीय-पक्ष वेबसाइटों की किसी भी सामग्री के लिए उत्तरदायित्व नहीं लेते हैं जिसे हमने अपनी प्रदर्शनी पर लिंक प्रदान किया है।</p>

    <p>हमारी प्रदर्शनी में दिए गए लिंक केवल संदर्भ और सूचनात्मक उद्देश्यों के लिए हैं। यह किसी अन्य वेबसाइट या बाहरी सामग्री का समर्थन नहीं करता है।</p>

    <p>इस वेबसाइट को तीसरे पक्ष की वेबसाइट से जोड़ा जा सकता है, बशर्ते कि इस वेबसाइट के किसी भी पृष्ठ की नकल न की जाए। इनमें से किसी भी शर्त के उल्लंघन के मामले में, वेबसाइट आयोजकों को जिम्मेदार नहीं ठहराया जाएगा।</p>

    <h5>देयता</h5>

    <p>जबकि प्रदर्शनी की सामग्री अद्यतित है और हमारी सर्वोत्तम जानकारी के अनुसार सही है, हम इसकी गारंटी नहीं देते हैं। इसलिए, हमारी प्रदर्शनी के माध्यम से एकत्र की गई जानकारी के कारण कोई नुकसान होने पर हम कोई दायित्व स्वीकार नहीं करते हैं।</p>

    <h5>अस्वीकरण</h5>

    <p>इस वेबसाइट पर प्रकाशित किसी भी लेखक द्वारा किसी भी धर्म, जातीय समूह, संस्था या व्यक्ति के इरादे से या अनजाने में बदनाम करने के लिए आयोजक जिम्मेदार नहीं हैं।</p>

    <h5>संपर्क</h5>
    <p>यदि प्रदर्शनी के किसी भी पहलू के साथ कोई समस्या है या यदि आप किसी विशिष्ट सामग्री तक पहुंच चाहते हैं, तो कृपया हमें अनुमति के लिए <a href="mailto:livingwatersmuseum@gmail.com" class="text-dark">livingwatersmuseum@gmail.com</a> पर लिखें, जो केवल गैर-वाणिज्यिक उद्देश्यों के लिए दी जाएगी।</p>
  </div>
  <div class="py-3">&nbsp;</div>
</main>
