---
order: 6
title: जोधपुर के एक्वामैन
subtitle: कैरन रॉन्सले की <br/>कृतियों का जश्न
about: कैरन रॉन्सले ने दुनिया भर की यात्रा की है और कई वर्षों से जोधपुर में रह रहे हैं। वे बावड़ियों की सफाई के अपने उल्लेखनीय स्वैच्छिक प्रयासों के लिए जोधपुर के लोगों के बीच जाने भी जाते हैं। जल शिल्प विरासतों के प्रति उनके प्रेम के कारण उन्हें जोधपुर के एक्वामैन के रूप में भी जाना जाता है। यह कहानी उन कहानियों का संकलन है जो कैरन के कार्यों को मान्यता देती हैं और उनका जश्न मनाती हैं।
---
<div class="container text-center py-5">
  <h3 class="fw-bold mt-5">कैरन रॉन्सले को जानिये</h3>

  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/39JKbAZGQBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p class="my-3">सौजन्य : द वायर </p>
  <h3 class="fw-bold mt-5">कैरन कहते हैं...</h3>
  <p class="text-start">दिसंबर 2021 के दौरान जोधपुर के मेहरानगढ़ में जल झरोखा कार्यशाला आयोजित की गयी जिसमें कई प्रतिभागियों ने कैरन रॉन्सले के साथ दो दिन बिताए। प्रतिभागियों को जोधपुर के ऐतिहासिक शहर में कैरन के साथ घूमने के दौरान उनसे बातचीत करने और उन्हें जानने का अवसर मिला। इस कॉमिक को अश्मीन बैंस ने संकल्पित किया और लिखा। कॉमिक कैरन के व्यक्तित्व, उनके विचारों, भूजल विरासतों की सफाई पर काम करने की भावना  और जोधपुर के बावड़ियों की देखभाल के लिए उनकी दृष्टि को प्रस्तुत करने का प्रयास करती है।</p>

  <div class="image-container">
    <picture>
      <source media="(max-width: 799px)" srcset="/images/{{ page.fileSlug }}/artboard-{{ locale }}.jpg">
      <source media="(min-width: 800px)" srcset="/images/{{ page.fileSlug }}/artboard@2x-{{ locale }}.jpg">
      <img src="/images//{{ page.fileSlug }}/artboard-{{ locale }}.jpg"  class="img-fluid" alt="Caron Story Board">
    </picture>

  </div>

  <h3 class="fw-bold mt-5 mb-3">जोधपुर की जल-विरासत पर कैरन के विचार</h3>
  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/78Y2vG_tB5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p class="mt-2">सौजन्य: विरासत-ऐ -हिन्द फाउंडेशन</p>
</div>
