---
order: 8
title: बन्दर-बाँट
subtitle: वगाराम चौधरी का<br>कलात्मक कार्य
about: <p>वगाराम चौधरी जोधपुर के एक विजुअल आर्टिस्ट हैं। वगाराम के विविधता भरे कामों में पारंपरिक मिनिएचर चित्र, समकालीन चित्रकला और प्रयोगात्मक इंस्टालेशन इत्यादि हैं। उन्होंने अंतरराष्ट्रीय मंचों पर कई आर्ट रेसीडेंसी और प्रदर्शनियों में भाग लिया है। वगाराम दिसंबर २०२१ में मेहरानगढ़ किले में हुई जल झरोखा कार्यशाला में शामिल हुए थे। सप्ताह भर चलने वाली इस कार्यशाला में कई गतिविधियां और बातचीत हुई। इनमें से कुछ अनुभवों ने वागाराम को इस कलाकृति को बनाने के लिए प्रेरित किया, जिसमें वह शहर के लोगों के पानी के साथ बर्ताव पर प्रतिक्रिया करते हुए दीखतें हैं ।</p> 
---

<div class="story container text-center py-5">
  <p class="fst-italic">कलाकार का कथ्य</p>
  <h2 class="fw-bold">वगाराम चौधरी</h2>
  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/UJ5Qhmj5-OY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <h3 class="fw-bold mt-5">बन्दर बाँट</h3>
  <p>आकार: ३८ सेंटीमीटर x ७६ सेंटीमीटर | माध्यम: कागज़ पर प्राकृतिक रंग</p>
  <div class="image-container">
    <img src="/images//{{ page.fileSlug }}/water_006_optmised.jpg" class="img-fluid" alt="">
  </div>

  <p class="my-5">इस चित्र को खरीदने हेतु सीधे कलाकार से संपर्क करें:<br>vagaramchoudhary@gmail.com | instagram.com/mr_vaga_vaga</p>
</div>
