---
title: Bibliography
layout: base
---
{% include "story-header.njk" %}
<main>
  <div class="main-bg"></div>

  <div class="container">
    <table class="table">
      <thead>
        <tr class="tableizer-firstrow">
          <th>Name of book/article</th>
          <th>Author full name</th>
          <th>Publisher</th>
          <th>Year of publication</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Spatial Ecology of Water</td>
          <td>Meghal Arya</td>
          <td>AADI Centre</td>
          <td>2019</td>
        </tr>
        <tr>
          <td>Rajasthan Ke Kuwe aur Bawadiyan</td>
          <td>Y. D Singh</td>
          <td>Maharaja Mansingh Pustak Prakash, Mehrangarh Fort, Jodhpur</td>
          <td>2002</td>
        </tr>
        <tr>
          <td>Marwar Ki Jal Sanskrati </td>
          <td>Dr. Mahendra Nagar</td>
          <td>Jodhpur Intach Chapter</td>
          <td>2011</td>
        </tr>
        <tr>
          <td>Aaj bhi prasangik hai Parampragat Jal Strot</td>
          <td>Prakash Purohit</td>
          <td>Maharaja Mansingh Pustak Prakash, Mehrangarh Fort, Jodhpur</td>
          <td>2008</td>
        </tr>
        <tr>
          <td>Rajasthan ki Paramparik Naharein</td>
          <td>Y. D Singh</td>
          <td>Maharaja Mansingh Pustak Prakash, Mehrangarh Fort, Jodhpur</td>
          <td>2008</td>
        </tr>
        <tr>
          <td>Transforming Scarcity to Success: Water Management System of Mehrangarh Fort</td>
          <td>Shekhawat, Krishna</td>
          <td>Waters of Western Rajasthan: Myths, Tradition,<br>Life and Livelihood<br>R.K. Publishers</td>
          <td>2020</td>
        </tr>
        <tr>
          <td>Aaj bhi khare hai Talaab</td>
          <td>Lt. Anupam Mishra</td>
          <td>Gandhi Shanti Pratisthan</td>
          <td>1995</td>
        </tr>
        <tr>
          <td>Rajasthan ki Rajat Boodein</td>
          <td>Lt. Anupam Mishra</td>
          <td>Gandhi Shanti Pratisthan</td>
          <td>1995</td>
        </tr>
        <tr>
          <td>Dying Wisdom <br>Chapter 2.7 Thar Desert</td>
          <td>Edited by: Anil Agarwal and Sunita Narain.</td>
          <td>Centre for Science and Environment, New Delhi</td>
          <td>1997</td>
        </tr>
        <tr>
          <td>PAPERS</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Marwar mein jal prabandh ke shetron mein Rathore naresho ka yogdaan</td>
          <td>Dr. Mahendra Singh Tanwar</td>
          <td>&nbsp;</td>
          <td>Nov-2022</td>
        </tr>
        <tr>
          <td>Marwar rajya mein Jal sambandhi vivaad aivem samadhan : Samad parwana bahiyon ke visesh sandarbh mein</td>
          <td>Dr. Mahendra Singh Tanwar</td>
          <td>&nbsp;</td>
          <td>2019</td>
        </tr>
        <tr>
          <td>Jodhpur ki Pracheentam Balsamand Jheel aivem Palace</td>
          <td>Dr. Mahendra Singh Tanwar</td>
          <td>MANAK</td>
          <td>Jun-2020</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="py-5">&nbsp;</div>
</main>
