---
title: Jal Jarokha
---
{% from 'macros.njk' import footer %}

<div class="home">
  <div class="home--header text-center d-flex align-items-center justify-content-center">
    <img src="/images/logo-large.png" alt="Jal Jarokha">
    <div class="cloud cloud--1"><img src="/images/cloud-1.png"></div>
    <div class="cloud cloud--2"><img src="/images/cloud-2.png"></div>
    <div class="cloud cloud--3"><img src="/images/cloud-3.png"></div>
    <div class="cloud cloud--4"><img src="/images/cloud-4.png"></div>
    <div class="cloud cloud--5"><img src="/images/cloud-5.png"></div>
    <div class="cloud cloud--6"><img src="/images/cloud-6.png"></div>
  </div>

  <div class="container">
    <div class="row">
      {% for story in collections.stories %}
        <div class="col-md-6 my-5">
          <a href="{{ story.data.page.url }}" class="text-center d-block">
            <img src="/images/{{ story.data.page.fileSlug }}.png" alt="{{ story.data.title }}">
            <p class="text-center">{{ story.data.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{{ footer(show_bg) }}

