---
title: Jal Jarokha
---

<div class="landing d-flex">
  <div class="about-container d-flex flex-column justify-content-end align-content-bottom">
    <p>'Jal Jharokha' is a collaborative project of Mehrangarh Museum Trust and Living Waters Museum to visualise stories of Water Heritage from Mehrangarh Fort and the Old City of Jodhpur. </p>
    <p>You are welcome to explore stories of interplay of absence and abundance over the desert landscape of historic and contemporary Jodhpur.</p>
  </div>

  <div class="enter">


  </div>

</div>
