---
title: Jal Jarokha
---

<div class="landing d-flex paper-bg">
  <div class="row">
    <div class="col-md-6 about-container d-flex flex-column justify-content-end align-content-bottom">
      <img src="/images/logo-large.png" alt="Jal Jarokha Logo" width="300">
      <p>'Jal Jharokha' is a collaborative project of Mehrangarh Museum Trust and Living Waters Museum to visualise stories of Water Heritage from Mehrangarh Fort and the Old City of Jodhpur. </p>
      <p>You are welcome to explore stories of interplay of absence and abundance over the desert landscape of historic and contemporary Jodhpur.</p>
    </div>
    <div class="enter col-md-6 d-flex flex-column align-items-center justify-content-end">
      <a href="/en/home" class="btn btn-primary btn-lg btn-light">Enter the site</a>
      <div class="d-flex">
        <a href="/"><img src="/images/mmt.png" alt="Mehrangarh Museum Trust"></a>
        <a href="/"><img src="/images/lwm.png" alt="Living Waters Museum"></a>
      </div>
    </div>
  </div>
</div>
