---
title: Jal Jarokha
---

<div id="home" class="container-fluid landing paper-bg overflow-hidden">
  <div class="row align-items-center h-100">
    <div class="col-md-6 text-center logo-main">
      <img src="/images/logo-large.png" alt="Jal Jarokha">
    </div>
    <div class="col-md-6 text-center text-md-start d-flex flex-column align-items-center align-items-md-start">
      <div class="d-flex align-items-center order-last order-md-1 mt-3 mt-md-0 mb-md-3">
        <a href="#" class="me-5"><img src="/images/mmt.png" alt="Mehrangardh Musuem Trust" width="100"></a>
        <a href="#"><img src="/images/lwm.png" alt="Living Waters Museum" width="200"></a>
      </div>

      <div class="my-3 px-3 px-md-0 pe-md-5 order-md-2">
        <p>'Jal Jharokha' is a collaborative project between the Mehrangarh Museum Trust and the  Living Waters Museum to visualize stories of water heritage from Mehrangarh Fort and the historic city of Jodhpur. </p>

        <p>'Jal Jharokha' is derived from two Hindi words, it means 'Windows to Water'. We welcome you to explore the interplay of absence and abundance in the desert landscape of historic and contemporary Jodhpur.</p>
      </div>

      <a href="/{{ locale }}/home" class="btn-dark btn order-md-last">Click to enter the Stepwell of Stories</a>

      <div class="px-3 px-md-0 pe-md-5 order-last mt-4 text-small fw-normal">
        <p>For the best experience, viewers are advised to see this website on a large screen Desktop/Laptop/Tablet over a high-speed data connection. </p>
      </div>
    </div>
  </div>
  {% include "locale-selector.njk" %}
</div>
