---
title: Terms and Conditions
---
{% include "story-header.njk" %}

<main>
  <div class="main-bg"></div>

  <div class="container">
    <h5>Copyright</h5>

    <p>Jal Jharokha is an online exhibition developed by Mehrangarh Museum Trust and the Living Waters Museum with other individual collaborators for non-commercial purposes. </p>

    <p>All videos, images, illustrations, icons, photographs and written material are co-owned by the individual/organization that created them, Mehrangarh Museum Trust and the Living Waters Museum.</p>

    <p>All the archival images and miniature paintings presented on the website are the sole copyright of Mehrangarh Museum Trust</p>

    <p>To purchase featured artworks please contact artists directly as per information provided on relevant web pages next to artworks. Living Waters Museum holds no responsibility for any transactions, delivery or communication regarding the same. </p>

    <h5>Privacy Policy</h5>

    <p>The Jal Jharokha exhibition website does not automatically gather any personal information from you. Cookies are only used to track visitors to the site and to determine the proportion of repeat visitors. They do not allow us to identify individuals or disclose any of your personal information.</p>

    <h5>Data</h5>

    <p>Jal Jharokha is a data-heavy website and advised to be viewed on desktop/laptop/tablet devices over a high-speed unlimited wifi connection. </p>

    <p>To save the user&apos;s internet bandwidth and data transfer, Jal Jharokha servers will cache files like text, images, videos, 3d models, 3d images, and scripts on the server side and with the browser used by the client.</p>

    <p>Data presented by the Jal Jharokha site may get saved in a cache memory of the user&apos;s devices (e.g., laptops, smartphones, or tablets) for offline use or in case of network unavailability.</p>

    <h5>Linking to Other Websites</h5>

    <p>We do not assume liability for any content of third-party websites that we have provided links to on our exhibition.</p>

    <p>The links provided on our exhibition are for referencing and informational purposes only. This does not constitute an endorsement of any other website or external content.</p>

    <p>This website may be linked to a third-party website, on the condition that no page of this website is replicated. In case of a breach of any of these conditions, the website organisers shall not be held responsible.</p>

    <h5>Liability</h5>

    <p>While the exhibition's content is up to date and correct to the best of our knowledge, we do not guarantee the same. Therefore, we do not accept any liability should there be any damages due to information collected through our exhibition.</p>

    <h5>Disclaimer</h5>

    <p>The organisers are not responsible for any intended or unintended maligning of any religion, ethnic group, institution or individual by any author published on this website.</p>

    <h5>Contact</h5>
    <p>If there are any issues with any aspects of the exhibition or If you would like access to any specific content, please write to us at <a href="mailto:livingwatersmuseum@gmail.com" class="text-dark">livingwatersmuseum@gmail.com</a> for permission, which will only be granted for non-commercial purposes.</p>
  </div>
  <div class="py-3">&nbsp;</div>
</main>
