<footer class=" border-bottom overflow-hidden">
  <div class="container pt-4 pb-2">
    <div class="row">
      <div class="col-md-6 mt-3 mt-md-0">
        <div class="d-flex colophon justify-content-center justify-content-md-start">
          <div class="logo py-1 pe-2 pe-md-4">
            <a href="/{{ locale }}/home"><img src="/images/logo.png" alt="Jal Jarokha Logo"></a>
          </div>
          <ul class="list-unstyled align-self-center d-flex flex-column justify-items-center ms-4">
            <li>
              <a href="#">Bibliography</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Terms & Conditions</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 align-self-center my-4 my-md-0">
        <div class="d-flex justify-content-center justify-content-md-end">
          <div class="collaborator px-4 text-center text-nowrap">
            <a href="#" class="d-block mb-2"><img src="/images/mmt.png" alt=""></a>
            <a href="#">
              <i class="fa-brands fa-facebook-f"></i>
            </a>

            <a href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
          <div class="collaborator px-4 text-center">
            <a href="#" class="d-block mb-2"><img src="/images/lwm.png" alt=""></a>
            <a href="#">
              <i class="fa-brands fa-facebook-f"></i>
            </a>

            <a href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center pt-2 pb-5 py-md-3">
    Jal Jarokha &copy; 2022-24 Living Waters Museum in collaboration with Mehrangarh Museum Trust
  </div>

</footer>
