<footer class=" border-bottom overflow-hidden">
  <div class="container pt-4 pb-2">
    <div class="row">
      <div class="col-md-6 mt-3 mt-md-0">
        <div class="d-flex colophon justify-content-center justify-content-md-start">
          <div class="logo py-1 pe-2 pe-md-4">
            <a href="/{{ locale }}/home"><img src="/images/logo.png" alt="Jal Jharokha Logo"></a>
          </div>
          <ul class="list-unstyled align-self-center d-flex flex-column justify-items-center ms-4">
            <li>
              <a href="/{{locale}}/bibliography">Bibliography</a>
            </li>
            <li>
              <a href="/{{locale}}/about">About Us</a>
            </li>
            <li>
              <a href="/{{locale}}/terms-and-conditions">Terms & Conditions</a>
            </li>
            <li>
              <a href="https://www.livingwatersmuseum.org/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 align-self-center my-4 my-md-0">
        <div class="d-flex justify-content-center justify-content-md-end">
          <div class="collaborator px-4 text-center text-nowrap">
            <a href="https://www.mehrangarh.org/" class="d-block mb-2" target="_blank"><img src="/images/mmt.png" alt=""></a>
            <a href="https://en-gb.facebook.com/FortJodhpur/" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>

            <a href="https://www.instagram.com/mehrangarh/?hl=en" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/@mehrangarhmuseumtrust445" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
          <div class="collaborator px-4 text-center">
            <a href="https://www.livingwatersmuseum.org" class="d-block mb-2" target="_blank"><img src="/images/lwm.png" alt=""></a>
            <a href="https://www.facebook.com/LivingWatersMuseum/ " target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>

            <a href="https://www.instagram.com/livingwatersmuseum/?hl=en " target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCeE7VMpTeYEImfpCDkF3tvg " target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center pt-2 pb-5 py-md-3">
    Jal Jharokha &copy; 2023 Living Waters Museum in collaboration with Mehrangarh Museum Trust
  </div>

</footer>
