<ul class="lang">
  <li>
    <a href="/en/{{ page.fileSlug }}" class="btn btn-light text-dark {% if locale == 'en' %}active{% endif %}">English</a>
  </li>
  <li>
    <a href="/hi/{{ page.fileSlug }}" class="btn btn-light text-dark">हिंदी</a>
  </li>
</ul>
