<ul class="lang">
  <li>
    <a href="/en/{% if (page.fileSlug !== 'en') and (page.fileSlug !== 'hi') %}{{ page.fileSlug }}{%endif%}" class="btn btn-light text-dark {% if locale == 'en' %}active{% endif %}">English</a>
  </li>
  <li>
    <a href="/hi/{% if (page.fileSlug !== 'en') and (page.fileSlug !== 'hi') %}{{ page.fileSlug }}{%endif%}" class="btn btn-light text-dark {% if locale == 'hi' %}active{% endif %}">हिंदी</a>
  </li>
</ul>
