{% macro text_image_block(args) %}
  {% if args.image %}
    <div class="col">
      <img src="{{ args.image }}" alt="{{ args.title }}">
    </div>
  {% endif %}

  <div class="col">
    <h1>{{ args.title }}</h1>
    <p>{{ args.body }}</p>
  </div>
{% endmacro %}

{% macro storyheader(args) %}
  <header>
    this is the story header..

  </header>
{% endmacro %}

{% macro footer(show_bg = false) %}
  <footer>
    Hello wrodl

  </footer>
{% endmacro %}

{% macro gallery(images, id = null, slug = null) %}
  <div class="bg-ochre">
    <div class="container">
      <div class="row gy-4 pb-4">
        {% for image in images %}
          <div class="col-md-4">
            <a href="/images/{{ slug }}/{{ id }}/popup/{{ image.id }}.jpg" data-caption="{{image.caption}}" data-fancybox="{{ id }}"><img src="/images/{{ slug }}/{{ id }}/thumbnail/{{ image.id }}.jpg" class="img-fluid" alt=""></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro threesixty() %}{% endmacro %}
