{% macro text_image_block(args) %}
  {% if args.image %}
    <div class="col">
      <img src="{{ args.image }}" alt="{{ args.title }}">
    </div>
  {% endif %}

  <div class="col">
    <h1>{{ args.title }}</h1>
    <p>{{ args.body }}</p>
  </div>
{% endmacro %}
