<div class="text-image-block">
  <div class="container">
    <div class="row g-5">
      {% if section.image %}
        <div class="col-md-6"><img src="/images/fort-water-system/{{ section.image }}" class="img-fluid w-100"></div>
      {% endif %}

      <div class="col-md-6">
        <h3>{{ section.title }}</h3>
        {{ section.description|safe }}
      </div>
    </div>
  </div>
</div>
