<div class="paper-bg">
  <div id="{{ section.image|replace('.jpg', '')|slug }}" class="threesixty paper-bg" data-story="{{ page.fileSlug }}"></div>
  {% if section.title %}
    <div class="container pt-2 pb-3">
    <h6>{{ section.title }}</h6>
    </div>
  {% endif %}
</div>
