<div class="threesixty mt-5">
  <div class="content">
    <h2>{{ loop.index }}. {{ section.title }}</h2>
    {{ section.about|safe }}
  </div>
  <div id="{{ section.image|replace('.jpg', '')|slug }}" class="threesixty-viewer" data-story="{{ page.fileSlug }}" data-type="{{ section.360_type if section.360_type else 'equirectangular' }}"></div>
  <div class="content">
    {{ section.image_description|safe }}
  </div>
</div>
